In [8]:
import pandas as pd
import math

In [2]:
df = pd.read_csv('/content/drive/MyDrive/DMML/Codebasics/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns')

In [6]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [7]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [9]:
df.fillna(math.floor(df['Age'].mean()), axis='columns', inplace=True)

In [10]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [15]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [16]:
inputs = df.drop(['Survived'], axis='columns')
target = df['Survived']

In [17]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
inputs['en_Sex'] = le.fit_transform(inputs['Sex'])

In [20]:
inputs.head()

   Pclass     Sex   Age     Fare  en_Sex
0       3    male  22.0   7.2500       1
1       1  female  38.0  71.2833       0
2       3  female  26.0   7.9250       0
3       1  female  35.0  53.1000       0
4       3    male  35.0   8.0500       1

In [21]:
inputs_n = inputs.drop(['Sex'], axis='columns')
inputs_n.head()

   Pclass   Age     Fare  en_Sex
0       3  22.0   7.2500       1
1       1  38.0  71.2833       0
2       3  26.0   7.9250       0
3       1  35.0  53.1000       0
4       3  35.0   8.0500       1

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs_n, target, test_size=0.2)

In [31]:
from sklearn.tree import DecisionTreeClassifier
ds = DecisionTreeClassifier(criterion='entropy')

In [32]:
ds.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [33]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [34]:
ds.predict([[3,35,8.0500,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [35]:
ds.score(X_test, y_test)

0.8379888268156425